html {
	background-color:  #808000;
}
body {
	background-color:  #808000;
	padding: 1em;
	font-family:'Courier New', Courier, monospace arial;
	display: grid;
	grid-template-columns: 40% 60%;
	grid-template-rows: auto;
	grid-template-areas: "header header"
                         "main main"
						 "footer footer"
}
* {
	box-sizing: border-box;
}

a{
	text-decoration: none;
	font-size: 1em;
	color: #1a1a00;
  
}




header {
grid-area:header;
margin: 1em;
text-align: center;
background-color: #4d4d00;
}


nav {
		overflow: hidden;
        background-color: #4d3900;
        font-family: 'Nerko One', cursive;
		display: grid;
		grid-template-columns: 20% 20% 20% 20% 20%;
	}



nav a {
	float: center;
	display: block;
	color:#1a1a00;
	text-align: center;
	padding: 1em 1em;
	text-decoration: none;

}

nav a:hover{
	background-color: #feec04;
	color:#4d3900;
}

h2{
  margin-bottom: 20px;
  color: #cc6600;
  font-family: 'Nerko One', cursive;
  text-transform: uppercase;
  font-size: 28px;
  word-spacing: 8px;
  letter-spacing: 5px;
}

p{
    font-family: 'Nerko One', cursive;
    margin-left: 2em;
    margin-right: 2em;
}

main {
	background-color: yellow;
	color: black;
    grid-area: main;
    text-align: center;
}

aside {
	background-color: yellow;
	color: black;
    grid-area: aside;
    text-align: center;
}

/* My Modules */
.mymodules{
    margin-top: 100px;
}


h2{
    margin-bottom: 20px;
    color: #cc6600;
    font-family: 'Nerko One', cursive;
    text-transform: uppercase;
    font-size: 28px;
    word-spacing: 8px;
    letter-spacing: 5px;
}


.mymodules_wrapper{
	display: flex;
	flex-direction: column;
}

.mymodules_wrapper .modules{
	display: flex;
	justify-content: space-between;
}

.mymodules_wrapper .modules-1 .modules{
  margin-bottom: 20px;
  
}

.mymodules_wrapper .modules-2 .modules{
     margin-right: 20px;
     margin-bottom: 100px;
}

.mymodules_wrapper .modules_name{
	width: 30%;
	height: auto;
	cursor: pointer;
	overflow: hidden;
	position: relative;
}

.mymodules_wrapper .modules_name img{
	display: block;
	width: 100%;
	height: auto;
	transition: all 0.10s ease;
}

.mymodules_wrapper .modules_name :hover img{
	transform: scale(1.1);
}



footer{
	background-color: #4d4d00;
	color: black;
	grid-area: footer;
	padding: 1em;
}

footer{
    background-color: #4d4d00;
	color: black;
	grid-area: footer;
	padding: 1em;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }
  
  footer p{
    color: rgb(15, 15, 15);
  
  }